
body {
  background-color: #a16c3a;
}

h1 {
  background-color: #4d3223;
  text-align: center;
  padding: 40px;
  color: #ffffff;
}

h2 {
  background-color:#372516;
  text-align: center;
  padding: 40px;
  color: #ffffff;
  background-color:#5b2f20 ;
}

p {
   background-color:#372516;
  text-align: center;
  padding: 40px;
  color: #ffffff;
  background-color:#5b2f20 ;
}
}
