
body {
  background-color: #923a3a;
}

button {
  background-color: black;
  color: white;
}

h1 {
  background-color: #4c1f1f;
  text-align: center;
  padding: 40px;
  color: #ffffff;
}

h2 {
  background-color:#372516;
  text-align: center;
  padding: 40px;
  color: #ffffff;
}

p {
  background-color: #371616;
  text-align: center;
  padding: 40px;
  color: #eed3d3;
}

img {
  text-align : center
}

ol {
  color: #ffcccc;
  padding: 40px;
  text-align: center;
}

th {
  background-color: black;
  color: white
}

td {
  color: #ffcccc;
  border: 1px solid black ;
}

span class {
  color :#ffcccc;
}

li {
  color: #ffcccc;
}
