body {
  background-color: #923a3a;
}

button {
  background-color: black;
  color: white;
}

h1 {
  background-color: #4c1f1f;
  text-align: center;
  padding: 40px;
  color: #fff;
}

h2 {
  background-color: #372516;
  text-align: center;
  padding: 40px;
  color: #fff;
}

p {
  background-color: #371616;
  text-align: center;
  padding: 40px;
  color: #eed3d3;
}

img {
  text-align: center;
}

ol {
  color: #fcc;
  padding: 40px;
}

th {
  background-color: black;
  color: white;
}

td {
  color: #fcc;
  border: 1px solid black;
}

li {
  color: #fcc;
}
