body {
  background-color: #5a4b2a;
}

button {
  background-color: black;
  color: white;
}

h1 {
  background-color: #0d0d0d;
  text-align: center;
  padding: 40px;
  color: #fff;
}

h2 {
  background-color: #372516;
  text-align: center;
  padding: 40px;
  color: #fff;
}

p {
  background-color: #29250f;
  text-align: center;
  padding: 40px;
  color: #eed3d3;
}

img {
  float: right;
}

ol {
  color: #fcc;
  padding: 40px;
  text-align: center;
}

th {
  background-color: black;
  color: white;
}

td {
  color: #fcc;
  border: 1px solid black;
}

ul {
  color: #fcc;
}

li {
  color: #fcc;
}
