
body {
  background-color: #593a1d;
}

button {
  background-color: black;
  color: white;
}

h1 {
  background-color: #0d0d0d;
  text-align: center;
  padding: 40px;
  color: #ffffff;
}

h2 {
  background-color:#372516;
  text-align: center;
  padding: 40px;
  color: #ffffff;
}

p {
  background-color: #372516;
  text-align: center;
  padding: 40px;
  color: #eed3d3;
}

img {
  text-align : center
}

ol {
  color: #fcc;
  padding: 40px;
  text-align: center;
}

th {
  background-color: black;
  color: white
}

td {
  color: #fcc;
  border: 1px solid black ;
}

span class {
  color :#ffcccc;
}

li {
  color: #fcc;
}
